{% extends 'base.html' %}

{% block title %}S3PT1L3 BLOG{% endblock title %}

{% block main %}
    {% for post in pages.items %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                {% if post.text|length > 100 %}
                    <p class="card-text">{{ post.text[:100] }}...</p>
                {% else %}
                    <p class="card-text">{{ post.text }}</p>
                {% endif %}
                <p class="card-text">
                    <small class="text-muted">{{ post.created_at }}</small>
                </p>
                <a href="/blog/{{ post.slug }}" class="btn btn-success">Read more</a>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
                <a class="page-link" href="./?page={{ pages.prev_num }}" aria-label="Previous">
                <span>&laquo;</span>
            </a>
            </li>
            {% for page in pages.iter_pages() %}
                <li class="page-item {% if page == pages.page %} active {% endif %}">
                    <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
                <a class="page-link" href="./?page={{ pages.next_num }}" aria-label="Next">
                <span>&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
{% endblock main %}
