{% extends 'base.html' %}

{% block title %}S3PT1L3 BLOG{% endblock title %}

{% block main %}
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                {% if post.text|length > 100 %}
                    <p class="card-text">{{ post.text[:100] }}...</p>
                {% else %}
                    <p class="card-text">{{ post.text }}</p>
                {% endif %}
                <p class="card-text">
                    <small class="text-muted">{{ post.created_at }}</small>
                </p>
                <a href="/blog/{{ post.slug }}" class="btn btn-success">Read more</a>
            </div>
        </div>
    {% endfor %}
{% endblock main %}
